.App {
  text-align: center;
}



#jumbotron{
  padding: 5rem 0;
  background-color: #888889;
}

#main-content{
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}

#main-cards{
  background-color: skyblue;
}